h1 {
  color:gray;
  text-align:center;
}

body {
  background-color: lightgray;
}

.dictatorAurel {
  text-align: center;
}

.dictatorAurel .center-no {
  text-align: center;
}

.output {
  background-color:yellow;
  height: 50px;
  width:300px;
}

/*
.whateverIsay{
  background-color: blue;
  height:200px;
  width: 200px;
}/*